/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.button_menu {
		float: right;
	}
	#menu-menu_theme{
		display: none;
	}
	.menu li{
		display: block;
	}
	.menu li a {
		border-top: 1px solid #fff;
		width: 100%;
	}
	.menu nav {
		border-top: 0;
		
	}

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#menu-menu_theme {
		display: inline-block !important;
	}
}

